@import url(normalize.css);
/* Estilos base */

/* Importacion de fuentes de google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/* importación de fuentes desde un archivo del mismo proyecto */

@font-face {
  font-family: "Footlight Mt Light";
  src: url("/file/footlight-mt-light.ttf");
}

:root {
  /* colores */
  --primary-color: #010f8c;
  --primary-color-alt: #00095b;
  --title-color: #000000;
  --tex-color: #707070;
  --body-bg-color: #fafdff;
  --white-color: #ffffff;
  --color: var(--primary-color);
  --color-alt: var(--primary-color-alt);

  /* fuentes */
  --body-font: "Open sans", sans-serif;
  --title-font: "Footlight Mt Light", sans-serif;

  /* Anchura maxima del contenido en desktop */
  --max-width: 1200px;

  /* Anchura media del contenido en desktop */
  --mid-width: 800px;

  /* Tamaños */
  --header-height: 3rem;
  --section-spacing: 2.5rem;
  --block-spacing: 2rem;
  --body-line-height: 1.6;
  --title-line-height: 1.3;

  /* Tamaños de fuentes */
  --h1-font-size: 2.45rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --big-font-seize: 1rem;
  --normal-font-size: 0.875rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.6875rem;

  /* Capas */
  --z-back: -10;
  --z-normal: 1;
  --z-front: 10;
  --z-fooltip: 20;
  --z-overlay: 30;
  --z-modal: 40;
  --z-fixe: 50;
  --z-off-canvas: 100;

  /* Otros */
  --border-radius: 0.5rem;
  --box-shadow: 0 2px 2px rgba(36, 47, 66, 0.1);
}

@media screen and (min-width: 1024px) {
  /* Variables de tamaño en desktop */
  :root {
    --header-height: 4rem;
    --section-spacing: 5rem;
    --block-spacing: 4rem;
    --h1-font-size: 4.9rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --big-font-seize: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height));
  color: var(--tex-color);
  padding-top: var(--header-height);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: var(--body-line-height);
  background-color: var(--body-bg-color);
}

a {
  color: var(--primary-color);
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: var(--title-color);
  font-family: var(--title-font);
  line-height: var(--title-line-height);
  font-weight: 800;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

.main h1 {
  padding-top: var(--block-spacing);
  margin-bottom: var(--block-spacing);
}

.content-wrapper {
  width: calc(100% - 2rem);
  max-width: var(--max-width);
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 1024px) {
  .content-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.container {
  width: calc(100% - 2rem);
  max-width: var(--mid-width);
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-container {
  margin-bottom: var(--section-spacing);
}

.section-container h1,
.section-container h2 {
  text-align: center;
}

.image-container {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--white-color);
  background: var(--color);
  border: 1px solid var(--color);
}

.button:hover {
  background: var(--color-alt);
}

.button.white {
  --color: var(--white-color);
  --color-alt: var(--body-bg-color);
  color: var(--primary-color);
}

.button.ghost {
  color: var(--white-color);
  background: transparent;
}

.button.ghost:hover {
  color: var(--white-color);
  background: var(--color);
}

.button.ghost.white:hover {
  color: var(--primary-color);
  background: var(--color);
}

/* --- MENÚ PRINCIPAL --- */
.main-header {
  display: flex;
  position: fixed;
  top: 0;
  height: var(--header-height);
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0 3px 5px rgba(112, 126, 132, 0.1);
  z-index: var(--z-fixe);
}

.main-header .content-wrapper {
  display: flex;
  align-items: center;
}

.main-header .ico {
  margin-left: auto;
  color: var(--title-color);
  height: 2.5rem;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .main-header .ico {
    display: none;
  }
}

.main-header .logo {
  display: flex;
  height: 2rem;
  width: 4.5rem;
}

@media screen and (min-width: 1024px) {
  .main-header .logo {
    height: 4rem;
    width: 9rem;
  }
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .main-menu {
    margin-left: auto;
  }
}

@media screen and (max-width: 1024px) {
  .main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--white-color);
    z-index: var(--z-off-canvas);
    transform: scale(0);
    transition: transform 0.25s;
  }
}

.main-menu.active {
  transform: initial;
}

.main-menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .main-menu ul {
    display: flex;
  }
}

.main-menu .close {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.main-menu a {
  display: block;
  padding: 0.75rem 1rem;
  color: black;
  text-decoration: none;
  font-weight: 700;
  text-shadow: 0 1px 3px var(--tex-color);
}

@media screen and (min-width: 1024px) {
  .main-menu a {
    padding: 0.75rem 1.125rem;
    text-align: center;
    font-size: var(--normal-font-seize);
  }
}

.main-menu a:hover {
  color: var(--primary-color);
}

@media screen and (min-width: 1024px) {
  .main-menu ul li:last-of-type a {
    padding-right: 0;
  }
}

/* --- BANNER PRINCIPAL --- */

.main-banner {
  position: relative;
  padding: var(--block-spacing) 0;
  text-align: center;
}

.main-banner h1{
 padding: 0;
}

.main-banner .content-wrapper {
  position: relative;
  z-index: var(--z-front);
}

.main-banner .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: var(--z-normal);
}

.main-banner .title {
  color: var(--white-color);
  text-shadow: 1px 1px 3px black;
  margin-bottom: 1rem;
}

.main-banner .subtitle {
  color: var(--white-color);
  text-shadow: 2px 1px 1px var(--tex-color);
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .main-banner .subtitle {
    font-size: 2.4rem;
  }
}

.main-banner .banner-button {
  text-align: right;
}

/* --- NUESTROS SERVICIOS --- */

.service-section .content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.service-section h2 {
  text-shadow: 1px 1px 3px black;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 250px;
  margin: auto;
}

.service-item .jam {
  margin-bottom: 1rem;
  font-size: 4rem;
  color: var(--primary-color);
}

.service-item h3 {
  margin-bottom: 0.5rem;
}

.service-item p {
  margin-bottom: 0;
}

/* --- SOBRE NOSOTROS --- */
.about-section {
  position: relative;
  padding: var(--block-spacing) 0;
  background: var(--primary-color);
  color: var(--white-color);
  text-align: center;
}

.about-section .content-wrapper {
  position: relative;
  z-index: var(--z-front);
}

.about-section .title {
  color: var(--white-color);
  text-shadow: 1px 1px 6px var(--white-color);
}

.about-section p {
  opacity: 0.85;
  margin-bottom: 2rem;
}

.about-section .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: var(--z-normal);
  opacity: 0.5;
}

/* ---PROYECTOS --- */
.last-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-projects h2 {
  margin-bottom: var(--block-spacing);
  text-shadow: 1px 1px 3px black;
}

.last-projects .content-wrapper {
  display: grid;
  gap: 2rem;
  margin-bottom: var(--block-spacing);
}

@media screen and (min-width: 680px) {
  .last-projects .content-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .last-projects .content-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-item {
  text-decoration: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: var(--primary-color);
  overflow: hidden;
}

.project-item:hover img {
  opacity: 0.1;
}

.project-item:hover .article > div:first-of-type {
  opacity: 1;
}

.project-item .article {
  position: relative;
}

.project-item img {
  transition: opacity 0.25s;
}

.project-item .article > div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: var(--white-color);
  transition: opacity 0.25s;
  z-index: var(--z-front);
}

.project-item .article > div:first-of-type h3 {
  margin-bottom: 0.25rem;
  color: var(--white-color);
}

.project-item .article > div:first-of-type p {
  margin-bottom: 0;
  opacity: 0.8;
  font-size: var(--small-font-size);
}

/* TRABAJA CON NOSOTROS */
.work-with-us {
  text-align: center;
  margin-bottom: var(--block-spacing);
}

.work-with-us .title {
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px black;
}

@media screen and (min-width: 1024px) {
  .work-with-us title {
    margin-bottom: 1.5rem;
  }
}

.work-with-us .button {
  border-radius: 1.2rem;
}

.work-with-us .subtitle,
.work-with-us .button {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .work-with-us .subtitle,
  .work-with-us .button {
    margin-bottom: 2rem;
  }
}

/* REDES SOCIALES */
.social-networks a {
  padding: 0.25rem;
  color: var(--tex-color);
  font-size: 1rem;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .social-networks a {
    font-size: 1.5rem;
  }
}

.social-networks a:hover {
  color: var(--primary-color);
}

.social-networks a:not(:last-of-type) {
  margin-right: 1.5rem;
}

/* FOOTER */
.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
  height: var(--header-height);
  background: var(--white-color);
  font-size: var(--small-font-size);
}

.main-footer p {
  margin-bottom: 0;
}

/* ---ABOUT-US --- */

.about-us .title {
  text-shadow: 1px 1px 4px var(--tex-color);
}

.about-us .content-wrapper {
  display: grid;
  gap: var(--block-spacing);
  --max-width: var(--mid-width);
}

.about-us .image-container {
  border-radius: var(--border-radius);
  opacity: 0.8;
}

@media screen and (min-width: 1024px){
  .about-us .image-container {
   padding-bottom: 65.25%;
  } 
}

.about-item {
  display: grid;
  gap: 1.5rem;
  text-align: center;
}

.about-item > div:first-of-type {
  order: 2;
}

@media screen and (min-width: 1024px) {
  .about-item {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    text-align: left;
  }

  .about-item:nth-child(odd) > div:nth-of-type(2) {
    order: 2;
  }
}

.about-item h2 {
  text-shadow: 1px 1px 3px black;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .about-item h2 {
    text-align: left;
  }
}

.about-item p {
  margin-bottom: 0;
}

/* PROJECTS */
.projects-section .title {
  text-shadow: 1px 1px 4px var(--tex-color);
}

.projects-section .content-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--block-spacing);
  --max-width: 1000px;
}

@media screen and (min-width: 680px) {
  .projects-section .content-wrapper {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    --block-spacing: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .projects-section .content-wrapper {
    --block-spacing: 3rem;
  }
}

.card-project {
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 1024px) {
  .card-project {
    width: 300px;
  }
}

.card-project > div:last-of-type {
  padding: 1rem;
  background-color: var(--white-color);
}

.card-project h2 {
  text-align: left;
  margin-bottom: 0.5rem;
}

.card-project p {
  margin-bottom: 1rem;
}

.project-button {
  text-align: right;
}

/* CONTACT */

.contact-section .content-wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .contact-section .content-wrapper {
    flex-direction: initial;
    justify-content: space-around;
  }
}

.address-content {
  display: flex;
  justify-content: center;
}

.address-content .address-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 320px;
}

@media screen and (min-width: 1024px) {
  .address-content .address-container {
    display: inline-block;
    width: auto;
  }
}

.address-item {
  margin-bottom: 1.5rem;
  width: 125px;
}

@media screen and (min-width: 1024px) {
  .address-item {
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .address-item h3 {
    margin-bottom: 0.5rem;
  }
}

.address-item a {
  color: var(--primary-color);
}

.address-item .social-networks {
  display: inline-flex;
}

.address-item .social-networks a:not(:last-of-type) {
  margin-right: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .address-item .social-networks a:not(:last-of-type) {
    margin-right: 1rem;
  }
}

.form-content {
  text-align: center;
  padding: 2rem;
}

@media screen and (min-width: 1024px) {
  .form-content {
    padding-top: 4rem;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

@media screen and (min-width: 480px) {
 .form-container{
 flex-direction: row;
}
}

.form-content .date-item {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 480px) {
  .form-content .date-item {
    margin-right: 2rem;
  }
}

.form-content .label {
  margin-bottom: 1rem;
}

.label input {
  border-radius: 0.3rem;
  border-width: 0.1rem;
  padding: 0.3rem;
  width: 8rem;
}

@media screen and (min-width: 480px) {
 .label input {
  width: 12rem;
}
}

textarea {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.form-content .button-container {
  display: inline-flex;
}

.form-content .button {
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
}
